<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>About</h1>
    </div>
  </div><br>

  <div class="col-md-7 offset-md-2">
    <p>Skiers lifeはスキーヤーによるスキーヤーのためのSNSです。</p>
    <p>リアルタイムでのゲレンデ状況やアクセスのための道路状況、</p>
    <p>スキー場でのイベント情報や道具に関することなど</p>
    <p>これからスキーを始めたい初心者から、プロまで活用いただけるサイトとなっています。</p>
    <p>ぜひ会員皆さんで交流を深めて、充実したスキーライフを送りましょう！</p>
  </div>
</div>