<h2>ジャンル一覧</h2>

  <% @skis.last(4).each do |ski| %>
    <div class="col-lg-2 col-md-6 mb-4">
      <%= link_to public_ski_path(ski.id) do%>
      <p><%= image_tag ski.get_image(100,100) %></p>
      <% end %>
      <p><%= ski.title %></p>
      <p><%= ski.body%></p>
    </div>
  <% end %>
