<h1>ジャンル一覧</h1>
<br>
<%= link_to "ジャンル新規登録", new_public_genre_path %>
<br>
<br>

<% @genres.each do |genre| %>

  <p><%= image_tag genre.get_image(300,300) %></p>
  <%= link_to public_genre_path(genre.id) do %>
  <p><%= genre.name %></p>
  <% end %>
<% end %>
