<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-2">
      <p>会員一覧</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @user.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>

            <td>
              <%= link_to user.name, admin_user_path(user.id) %>
            </td>

            <td><%= user.email %></td>

            <td>
              <% if user.is_deleted == false%>
              有効
              <% else %>
              退会
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>